<md-toolbar class="md-accent md-hue-2">
    <h2 class="md-toolbar-tools">
      <span><img src="assets/images/docker.png" class="docker-icon"> Docker Registries</span>
    </h2>
</md-toolbar>
<div class="container-fluid container-custom">
  <div ng-hide="$ctrl.registries.length>0" class="alert alert-warning">
    <i class="fa fa-frown-o" aria-hidden="true"></i> Empty list
  </div>
  <table ng-show="$ctrl.registries.length>0" class="table table-sm registries-table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Hostname</th>
        <th>Port</th>
        <th>Username</th>
        <th>Password</th>
        <th>API</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reg in $ctrl.registries track by $index">
        <td ng-show="reg.online"><span class="label label-success">Online</span></td>
        <td ng-hide="reg.online"><span class="label label-danger">Error</span></td>
        <td>{{reg.hostname}}</td>
        <td>{{reg.port}}</td>
        <td>{{reg.username}}</td>
        <td>{{reg.password}}</td>
        <td>{{reg.api}}</td>
        <td>
          <div class="btn-group">
            <a class="label label-info" ng-click="$ctrl.view(reg)" ng-show="reg.online"><i class="fa fa-eye"></i> View</a>
            <a class="label label-danger" ng-click="$ctrl.remove($event, $index)"><i class="fa fa-trash"></i> Delete</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
